.pie {
    margin-top: 2em;
    background-color: var(--light-black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ubicacion {
    text-align: center;
}

.redes {
    width: 80%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes a img {
    width: 40px;
    margin: 0.8rem;
    transform: scale(1);

    &:hover {
        scale: 1.1;
    }
}

.copy {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--white);
    font-weight: bolder;
    text-decoration: none;

    a {
        text-decoration: none;
        color: var(--dorado);
        cursor: pointer;
    }

}


.correo {
    width: 100%;
    text-align: start;
    display: flex;
}