nav {
	position: fixed;
	display: flex;
	justify-content: space-between;
	background-color: white;
	align-items: center;
	z-index: 2;
	top: 0;
	width: 100%;
	height: 4.5em;
}

.menu {
	display: flex;
	margin-left: 1em;

	@media (min-width: 800px) {
		display: none;
	}
}

.navbar-left {
	height: 100%;
	display: flex;
	vertical-align: middle;
	align-items: center;
	align-self: center;
	align-content: center;

}

.navbar-left ul li {
	display: none;

	@media (min-width: 800px) {
		display: flex;
	}
}


.navbar-left ul,
.navbar-right ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	height: 4rem;
}

.navbar-left ul li a,
.navbar-right ul li a {
	text-decoration: none;
	color: var(--dorado);
	border: 1px solid var(--white);
	padding: 0.3em;
	border-radius: 8px;
	margin-left: 1em;

	&:hover {
		border: 1px solid var(--dorado);
		color: var(--dorado);
		font-weight: bold;
	}
}


.navbar-email {
	color: var(--light-black) !important;
	font-size: var(--lg);
	margin-right: 1em;
}