.navbar-component{
    background-color: var(--white);
	width: 4.5em;
	height: auto;
	border: 0.1em solid var(--dorado);
	border-radius: 0.6em;
	padding: 1em 2.5em 0.5em 2.5em;
    position: absolute;
    top: 4.5em;
    left: 0em;
	z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-component ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.navbar-component ul li {
	text-align: center;
    font-weight: bolder;
    font-size: large;

}

.navbar-component ul li a {
	color: var(--black);
	text-decoration: none;
	margin-bottom: 1em;
	display: inline-block;

	&:hover{
		color: var(--dorado);
	}
}