.boton-subir {
    position: fixed;
    bottom: 100px;
    left: 10px;
    z-index: 100;
    padding: 0px;
    border: 0px;
    border-radius: 50%;
    // background-color: var(--dorado);
    color: var(--light-black) !important;
    font-size: xx-large;
    font-weight: bolder;
    cursor: pointer;
    display: flex;
    vertical-align: middle;
    justify-content: center;

}