body {
  background-color: var(--white);
  /* background-repeat: no-repeat; */
  background-position-x: center;
  background-position-y: 10vh;
  /* position: relative; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.Layout{
  width: 100%;
}
