body {
  background-image: url("https://img.freepik.com/vector-gratis/costura-costuras-blanco-negro_1284-12145.jpg?w=360&t=st=1678223717~exp=1678224317~hmac=56953a83f5342faab974ce1e2a12e9092665ede6a36679ca69ca976f21fcf747");
  /* background-repeat: no-repeat; */
  background-position-x: center;
  background-position-y: 10vh;
  /* position: relative; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.Layout{
  width: 100%;
}
